body {
  background-color: #f8e7e7;
  font-family: "Quicksand", sans-serif;
}
.container {
  margin: 60px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  color: #724060;
  font-size: 42px;
}
form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}
.instructions {
  padding: 16px;
  border: 1px solid #a070a1;
  border-radius: 50px;
  font-size: 16px;
  width: 80%;
}
.submit-button {
  margin-left: 10px;
  border: none;
  width: 150px;
  border-radius: 50px;
  background-color: #a070a1;
  color: white;
  font-size: 16px;
}
.poem {
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #a070a1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  font-weight: 600;
  opacity: 0.6;
}
a {
  color: #a070a1;
}
